storage/files/eds.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ais-gzhi.ru/schema/integration/eds-service/"
	xmlns:eds="http://ais-gzhi.ru/schema/integration/eds/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	targetNamespace="http://ais-gzhi.ru/schema/integration/eds-service/">
	<wsdl:types>
		<xs:schema version="1.0.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://ais-gzhi.ru/schema/integration/eds/" schemaLocation="eds.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="importAppealRequest">
		<wsdl:part name="importAppealRequest" element="eds:importAppealRequest"/>
	</wsdl:message>
	<wsdl:message name="getNsiDSRequest">
		<wsdl:part name="getNsiDSRequest" element="eds:getNsiDSRequest"/>
	</wsdl:message>
	<wsdl:message name="getObjectStateDSRequest">
		<wsdl:part name="getObjectStateDSRequest" element="eds:getObjectStateDSRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateDSRequest">
		<wsdl:part name="getStateDSRequest" element="eds:getStateDSRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateDSResult">
		<wsdl:part name="getStateDSResult" element="eds:getStateDSResult"/>
	</wsdl:message>
	<wsdl:message name="Success">
		<wsdl:part name="Success" element="eds:Success"/>
	</wsdl:message>
	<wsdl:portType name="EdsPortsType">
		<wsdl:operation name="ImportAppealData">
			<wsdl:documentation>Передать cведения о лицевых счетах</wsdl:documentation>
			<wsdl:input message="tns:importAppealRequest"/>
			<wsdl:output message="tns:Success"/>
		</wsdl:operation>
		<wsdl:operation name="GetNsiDS">
			<wsdl:documentation>Запрос данных справочников организаций</wsdl:documentation>
			<wsdl:input message="tns:getNsiDSRequest"/>
			<wsdl:output message="tns:Success"/>
		</wsdl:operation>
		<wsdl:operation name="GetObjectStateDS">
			<wsdl:documentation>Запрос данных о статусе объекта</wsdl:documentation>
			<wsdl:input message="tns:getObjectStateDSRequest"/>
			<wsdl:output message="tns:Success"/>
		</wsdl:operation>
		<wsdl:operation name="GetStateDS">
			<wsdl:documentation>Запрос данных о статусе пакета</wsdl:documentation>
			<wsdl:input message="tns:getStateDSRequest"/>
			<wsdl:output message="tns:getStateDSResult"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EdsBinding" type="tns:EdsPortsType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ImportAppealData">
			<soap:operation soapAction="urn:ImportAppealData"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetNsiDS">
			<soap:operation soapAction="urn:GetNsiDS"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObjectStateDS">
			<soap:operation soapAction="urn:GetObjectStateDS"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStateDS">
			<soap:operation soapAction="urn:GetStateDS"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EdsService">
		<wsdl:documentation>Сервис обмена данными</wsdl:documentation>
		<wsdl:port name="EdsPort" binding="tns:EdsBinding">
			<soap:address location="https://test-gzhi.eiasmo.ru/eds-service"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
