public/ais/eds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://ais-gzhi.ru/schema/integration/eds/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://ais-gzhi.ru/schema/integration/eds/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0.1">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:element name="getNsiDSRequest">
		<xs:annotation>
			<xs:documentation>Запрос данных справочников организаций.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:BaseType">
					<xs:sequence>
						<xs:choice>
							<xs:element name="AppealStatus" type="xs:boolean" fixed="true">
								<xs:annotation>
									<xs:documentation>Статусы Заявок на обслуживание</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AppealCancelReasons" type="xs:boolean" fixed="true">
								<xs:annotation>
									<xs:documentation>Причины не выполнения</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AppealProlongReasons" type="xs:boolean" fixed="true">
								<xs:annotation>
									<xs:documentation>Причины переноса</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AppealType" type="xs:boolean" fixed="true">
								<xs:annotation>
									<xs:documentation>Тип заявки</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AppealTypeWorks" type="xs:boolean" fixed="true">
								<xs:annotation>
									<xs:documentation>Классификатор типов работ</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Orgs" type="xs:boolean" fixed="true">
								<xs:annotation>
									<xs:documentation>Организации</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Accomodation" type="tns:GUIDType">
								<xs:annotation>
									<xs:documentation>Помещения по дому (Указывается AddressGUID дома, возвращается список помещений)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Addresses">
								<xs:annotation>
									<xs:documentation>Адреса обслуживаемых домов</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OrgManager" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Организация, управляющая домом</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:sequence>
					<xs:attribute ref="tns:version" use="required" fixed="1.0.0.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="importAppealRequest">
		<xs:annotation>
			<xs:documentation>Импорт лицевых счетов.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:BaseType">
					<xs:sequence>
						<xs:element name="Appeal" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Перечень Заявок на обслуживание</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="tns:AppealGUID"/>
									<xs:element ref="tns:TransportGUID"/>
									<xs:choice>
										<xs:element name="AppealInformation">
											<xs:annotation>
												<xs:documentation>Добавление и изменение</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CreationDate" type="xs:dateTime">
														<xs:annotation>
															<xs:documentation>Дата и время создания заявки в ИС-Источник</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Status" type="tns:nsiRef">
														<xs:annotation>
															<xs:documentation>Статус заявки</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Initiator">
														<xs:annotation>
															<xs:documentation>Инициатор заявки</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:all>
																<xs:element name="FIO" type="tns:String255Type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ФИО (или название организации) заявителя</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="Mail" type="tns:String50Type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>E-mail заявителя</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="Phone" type="tns:String50Type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Телефон заявителя</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="TypeAppeal" type="tns:nsiRef">
														<xs:annotation>
															<xs:documentation>Тип заявки</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="TypeWorkGUID" type="tns:GUIDType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Тип работ по заявке</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice>
														<xs:element name="Address" type="tns:String255NotEmptyType">
															<xs:annotation>
																<xs:documentation>Адрес дома</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="AddressGUID" type="tns:GUIDType">
															<xs:annotation>
																<xs:documentation>Идентификатор адреса дома</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:element name="Text" type="tns:String1000NotEmptyType">
														<xs:annotation>
															<xs:documentation>Текст обращения в заявке</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="OrgGUID" type="tns:GUIDType">
														<xs:annotation>
															<xs:documentation>Организация – исполнитель заявки </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="NumberReg" type="tns:String255NotEmptyType">
														<xs:annotation>
															<xs:documentation>Регистрационный номер заявки в ИС-источнике</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DateReg" type="xs:date">
														<xs:annotation>
															<xs:documentation>Дата регистрации заявки в ИС-источнике</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DatePlan" type="xs:dateTime">
														<xs:annotation>
															<xs:documentation>Плановая дата исполнения заявки</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Prolong" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Переноса даты исполнения заявки</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:all>
																<xs:element name="DatePlan" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата переноса исполнения заявки</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ProlongReasons" type="tns:nsiRef" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Причина переноса даты исполнения заявки</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ProlongComments" type="tns:String1000Type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Комментарии к причине переноса даты исполнения заявки</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:all>														
														</xs:complexType>
													</xs:element>
													<xs:element name="Fact" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Факт исполнения заявки</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:all>
																<xs:element name="DateFact" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Фактическая дата исполнения заявки</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="IsSignedAct" type="xs:boolean">
																	<xs:annotation>
																		<xs:documentation>Акт подписан?</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="IsDone" type="xs:boolean">
																	<xs:annotation>
																		<xs:documentation>Заявка выполнена?</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="CancelReasons" type="tns:nsiRef" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Причина невыполнения заявки</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="CancelComments" type="tns:String1000Type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Комментарии к причине невыполнения заявки</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="Description" type="tns:String1000Type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Примечание к заявке</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CancelAppeal">
											<xs:annotation>
												<xs:documentation>Аннулирование заявки на обслуживание</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Description" type="tns:String250Type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Примечание</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="tns:version" use="required" fixed="1.0.0.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importAppeal_TransportGUIDKey">
			<xs:selector xpath=".//tns:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<xs:element name="getObjectStateDSRequest">
		<xs:annotation>
			<xs:documentation>Запрос о состоянии объектов</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:BaseType">
					<xs:sequence>
						<xs:element name="APIName">
							<xs:annotation>
								<xs:documentation>Наименование API</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ImportAppealData"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:choice>
							<xs:element name="ObjectGUID" type="tns:GUIDType" maxOccurs="1000">
								<xs:annotation>
									<xs:documentation>Идентификатор запрашиваемого объекта</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RequestPackGUID" type="tns:GUIDType">
								<xs:annotation>
									<xs:documentation>Ранее переданный пакет</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
					<xs:attribute ref="tns:version" use="required" fixed="1.0.0.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Success">
		<xs:annotation>
			<xs:documentation>Ответ об успешном приеме запроса</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PackGUID" type="tns:GUIDType">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор пакета обмена</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getStateDSRequest">
		<xs:annotation>
			<xs:documentation>Запрос о состоянии пакета  </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:BaseType">
					<xs:sequence>
						<xs:element name="PackGUID" type="tns:GUIDType">
							<xs:annotation>
								<xs:documentation>Идентификатор запрашиваемого пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="tns:version" use="required" fixed="1.0.0.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getStateDSResult">
		<xs:annotation>
			<xs:documentation>Ответ о состоянии пакета </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:BaseType">
					<xs:sequence>
						<xs:element name="APIName">
							<xs:annotation>
								<xs:documentation>Наименование API</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ImportAppealData"/>
									<xs:enumeration value="GetNsiDS"/>
									<xs:enumeration value="GetObjectStateDS"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PackState">
							<xs:annotation>
								<xs:documentation>Ответ на запрос о состоянии запрашиваемого пакета:
												10	Получено
												20	В обработке
												30	Обработан
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="tns:nsiRef">
									<xs:length value="2"/>
										<xs:enumeration value="10"/>
										<xs:enumeration value="20"/>
										<xs:enumeration value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ERRORS" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Сообщения об ошибках, возникшие после обработки запрашиваемого пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tns:ErrorType">
										<xs:sequence>
											<xs:element name="ObjectGUID" type="tns:GUIDType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>GUID объекта в ИС-Источнике</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element ref="tns:TransportGUID" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:choice minOccurs="0">
							<xs:element name="GetNsiResult" type="tns:ReturnNsi">
								<xs:annotation>
									<xs:documentation>Информация о справочниках организации</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="GetObjectStateResult" type="tns:ReturnGetObjectState" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Информация о статусах объектов пакета</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
					<xs:attribute ref="tns:version" use="required" fixed="1.0.0.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ReturnNsi">
		<xs:annotation>
			<xs:documentation>Информация о справочниках организации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="AppealStatus" type="tns:NsiCodeWithName" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Статусы Заявок на обслуживание</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AppealCancelReasons" type="tns:NsiCodeWithName" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Причины не выполнения</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AppealProlongReasons" type="tns:NsiCodeWithName" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Причины переноса</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AppealType" type="tns:NsiCodeWithName" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Типы заявок на обслуживание</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AppealTypeWorks" type="tns:AppealTypeWorksType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Классификатор типа работ</xs:documentation>
					</xs:annotation>
				</xs:element>
				
				<xs:element name="Orgs" type="tns:OrgSCType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Реестр организаций</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Addresses" type="tns:AddressElementType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Адреса обслуживаемых домов</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Accomodation">
					<xs:annotation>
						<xs:documentation>Помещения по дому</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AddressGUID" type="tns:GUIDType">
								<xs:annotation>
									<xs:documentation>Глобальный уникальный идентификатор адресного объекта в АИС ГЖИ</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Accomodations" type="tns:AccomodationType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Список помещений по дому</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnGetObjectState">
	    <xs:all>
	        <xs:element name="TransportInformation" minOccurs="0">
	            <xs:annotation>
	                <xs:documentation>Информация о транспорте</xs:documentation>
	            </xs:annotation>
	            <xs:complexType>
	                <xs:sequence>
	                    <xs:element ref="tns:TransportGUID"/>
	                    <xs:element name="TransportStatus" type="tns:nsiRef">
	                        <xs:annotation>
	                            <xs:documentation>Статус транспорта в АИС ГЖИ</xs:documentation>
	                        </xs:annotation>
	                    </xs:element>
	                    <xs:element name="TransportStatusDate" type="xs:dateTime">
	                        <xs:annotation>
	                            <xs:documentation>Дата и время установки статуса транспорта</xs:documentation>
	                        </xs:annotation>
	                    </xs:element>
	                    <xs:element ref="tns:ERRORS" minOccurs="0" maxOccurs="unbounded"/>
	                </xs:sequence>
	            </xs:complexType>
	        </xs:element>
	        <xs:element name="ObjectInformation" minOccurs="0">
	            <xs:annotation>
	                <xs:documentation>Информация об объекте</xs:documentation>
	            </xs:annotation>
	            <xs:complexType>
	                <xs:sequence>
	                    <xs:element name="ObjectGUID" type="tns:GUIDType">
	                        <xs:annotation>
	                            <xs:documentation>Идентификатор запрашиваемого объекта</xs:documentation>
	                        </xs:annotation>
	                    </xs:element>
	                    <xs:element name="ObjectState" type="tns:ObjectStateType">
	                        <xs:annotation>
	                            <xs:documentation>Статус запрашиваемого объекта</xs:documentation>
	                        </xs:annotation>
	                    </xs:element>
	                    <xs:element ref="tns:ERRORS" minOccurs="0" maxOccurs="unbounded"/>
	                </xs:sequence>
	            </xs:complexType>
	        </xs:element>
	    </xs:all>
	</xs:complexType>
	<xs:complexType name="ObjectStateType">
		<xs:all>
			<xs:element name="UpdateDate" type="xs:dateTime">
	        	<xs:annotation>
	            	<xs:documentation>Дата модификации описания объекта</xs:documentation>
	            </xs:annotation>
	       	</xs:element>
	       	<xs:element name="ObjectProcessingStatus" type="tns:nsiRef">
	        	<xs:annotation>
	           		<xs:documentation>Статус обработки объекта</xs:documentation>
	      		</xs:annotation>
	    	</xs:element>
	      	<xs:element name="ObjectProcessingStatusDate" type="xs:dateTime">
	          	<xs:annotation>
	             	<xs:documentation>Дата и время установки статуса обработки объекта</xs:documentation>
	         	</xs:annotation>
	   		</xs:element>
	   		<xs:element name="ObjectStatus" type="tns:nsiRef" minOccurs="0">
	        	<xs:annotation>
	           		<xs:documentation>Статус объекта</xs:documentation>
	      		</xs:annotation>
	    	</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="NsiCodeWithName">
		<xs:all>
			<xs:element name="Code" type="tns:nsiRef">
				<xs:annotation>
					<xs:documentation>Код строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="tns:String255NotEmptyType">
				<xs:annotation>
					<xs:documentation>Наименование</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="AppealTypeWorksType">
		<xs:all>
			<xs:element name="TypeWorkGUID" type="tns:GUIDType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор типа работ в АИС ГЖИ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="tns:nsiRef">
				<xs:annotation>
					<xs:documentation>Код строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroupName" type="tns:String255NotEmptyType">
				<xs:annotation>
					<xs:documentation>Наименование группы типов работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="tns:String255NotEmptyType">
				<xs:annotation>
					<xs:documentation>Наименование типа работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DurationBegin" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Период времени на принятие заявки в работу, час.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DurationWorks" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Период выполнения работ по заявке, час.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsAct" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Обязательность наличия Акта выполненных работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Seasonality">
				<xs:annotation>
					<xs:documentation>Сезонность выполнения работ:
									Вне зависимости от сезона
									Зимний период
									Летний период
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Вне зависимости от сезона"/>
						<xs:enumeration value="Зимний период"/>
						<xs:enumeration value="Летний период"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OrgSCType">
		<xs:annotation>
			<xs:documentation>Реквизиты организации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrgGUID" type="tns:GUIDType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор организации в АИС ГЖИ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="Org" type="tns:OrgType">
					<xs:annotation>
						<xs:documentation>Юридическое лицо</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OrgIP" type="tns:OrgIPType">
					<xs:annotation>
						<xs:documentation>Индивидуальный предприниматель</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Name" type="tns:String500Type">
				<xs:annotation>
					<xs:documentation>Наименование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FullName" type="tns:String500Type">
				<xs:annotation>
					<xs:documentation>Наименование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Olf" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Организационно-правовая форма (краткая форма)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес фактический</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressJur" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес юридический</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressDisp" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес диспетчерской службы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeOrg" type="tns:nsiRef" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Тип организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateOGRN" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата присвоения ОГРН/ОГРНИП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateClose" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата прекращения существования</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgType">
		<xs:annotation>
			<xs:documentation>Организация. ЮЛ/ИП/ОП</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element ref="tns:OGRN" minOccurs="0"/>
			<xs:element ref="tns:INN" minOccurs="0"/>
			<xs:element ref="tns:KPP" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OrgIPType">
		<xs:annotation>
			<xs:documentation>Организация. ЮЛ/ИП/ОП</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element ref="tns:OGRNIP" minOccurs="0"/>
			<xs:element ref="tns:INNIP" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="AddressElementType">
		<xs:annotation>
			<xs:documentation>Адресные объекты обслуживаемых домов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddressGUID" type="tns:GUIDType">
				<xs:annotation>
					<xs:documentation>Глобальный уникальный идентификатор адресного объекта в АИС ГЖИ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIASAddressGUID" type="tns:GUIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Глобальный уникальный идентификатор адресного объекта по ФИАС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressType" type="tns:String255NotEmptyType">
				<xs:annotation>
					<xs:documentation>Тип адресного элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKTMO" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип адресного элемента</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"/>
						<xs:pattern value="\d{11}|\d{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressName" type="tns:String255NotEmptyType">
				<xs:annotation>
					<xs:documentation>Строка описания адреса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Region" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регион</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Auto" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>АО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlanningStructure" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внутригородская территория</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Place" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstStatus" type="tns:String25Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак владения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseNum" type="tns:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BuildNum" type="tns:String10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Корпус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Strucnum" type="tns:String10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер строения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrStatus" type="tns:String25Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак строения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseType" type="tns:String35Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип дома</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgManager" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Информация об организации, управляющей домом</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Org" type="tns:OrgSCType">
							<xs:annotation>
								<xs:documentation>Описание организации</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DateBegin" type="xs:date">
							<xs:annotation>
								<xs:documentation>Дата начала управления</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DateEnd" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Дата окончания управления</xs:documentation>
							</xs:annotation>
						</xs:element>	
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccomodationType">
		<xs:annotation>
			<xs:documentation>Помещение</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Apartment" minOccurs="0" type="tns:String255Type">
				<xs:annotation>
					<xs:documentation>Номер помещения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalSquare" minOccurs="0" type="tns:PremisesAreaType">
				<xs:annotation>
					<xs:documentation>Общая площадь помещения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="LivingApartment" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Жилое помещение (Квартира в МКД или блок в ЖД блокированной застройки)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EntranceNum" minOccurs="0" type="tns:String255Type">
								<xs:annotation>
									<xs:documentation>Номер подъезда</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Floor" minOccurs="0" type="tns:String255Type">
								<xs:annotation>
									<xs:documentation>Этаж</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ApartmentCharacteristic" minOccurs="0" type="tns:nsiRef">
								<xs:annotation>
									<xs:documentation>Характеристика помещения</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ResidentialSquare" minOccurs="0" type="tns:PremisesAreaType">
								<xs:annotation>
									<xs:documentation>Жилая площадь жилого помещения</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LivingPersonsNumber" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Количество проживающих</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:totalDigits value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="LivingApartmentPlace" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Комнаты</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="Placement" minOccurs="0" type="tns:String255Type">
											<xs:annotation>
												<xs:documentation>Номер комнаты</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Square" minOccurs="0" type="tns:PremisesAreaType">
											<xs:annotation>
												<xs:documentation>Площадь</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LivingPlace" type="xs:boolean" minOccurs="0" fixed="true">
					<xs:annotation>
						<xs:documentation>Комната (для обычного жилого дома)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NonLivingApartment" type="xs:boolean" minOccurs="0" fixed="true">
					<xs:annotation>
						<xs:documentation>Нежилое помещение</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="IsCommonAppartment" type="xs:boolean" minOccurs="0" fixed="true">
				<xs:annotation>
					<xs:documentation>Помещение, составляющее общее имущество в многоквартирном доме</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation>Описание ошибки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorCode" type="tns:nsiRef">
				<xs:annotation>
					<xs:documentation>Код ошибки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Текст ошибки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ERRORS" type="tns:ErrorType">
		<xs:annotation>
			<xs:documentation>Сообщение об ошибках</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Базовые типы-->
	<xs:complexType name="BaseType">
		<xs:annotation>
			<xs:documentation>Базовый тип бизнес-сообщения с подписью</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ds:Signature" minOccurs="0"/>
			<xs:element ref="tns:Header"/>
		</xs:sequence>
		<xs:attribute name="Id"/>
	</xs:complexType>
	<xs:element name="Header">
		<xs:annotation>
			<xs:documentation>Заголовок запроса</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="OrgGUID" type="tns:GUIDType">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор поставщика информации в АИС ГЖИ</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PackGUID" type="tns:GUIDType">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор пакета обмена</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PackDate" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Дата и время отправки пакета</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="version" type="xs:string">
		<xs:annotation>
			<xs:documentation>Версия элемента, начиная с которой поддерживается совместимость</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:simpleType name="OGRNType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="OGRN" type="tns:OGRNType">
		<xs:annotation>
			<xs:documentation>ОГРН</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="INNType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="INN" type="tns:INNType">
		<xs:annotation>
			<xs:documentation>ИНН</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="KPPType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="KPP" type="tns:KPPType">
		<xs:annotation>
			<xs:documentation>КПП</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="OGRNIPType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="OGRNIP" type="tns:OGRNIPType">
		<xs:annotation>
			<xs:documentation>ОГРНИП</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="INNIPType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="INNIP" type="tns:INNIPType">
		<xs:annotation>
			<xs:documentation>ИНН ИП</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TransportGUID" type="tns:GUIDType">
		<xs:annotation>
			<xs:documentation>Транспортный идентификатор</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AppealGUID" type="tns:GUIDType">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор Заявки на обслуживание, присвоенный ему в ИС-Источнике</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="GUIDType">
		<xs:annotation>
			<xs:documentation>GUID-тип.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nsiRef">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:pattern value="(\d{1,3}(\.)?)+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String10Type">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 10 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String20Type">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 20 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String25Type">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 25 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String35Type">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 35 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String50Type">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 50 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String250Type">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 250 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String255NotEmptyType">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 255 символов и не менее одного символа.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String255Type">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 255 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String500Type">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 500 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1000NotEmptyType">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 1000 символов и не менее одного символа.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1000Type">
		<xs:annotation>
			<xs:documentation>Скалярный тип. Строка не более 1000 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PremisesAreaType">
		<xs:annotation>
			<xs:documentation>Площадь помещения</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4"/>
			<xs:totalDigits value="25"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>